{% extends "base.html" %}

{% block title %}SECRET{% endblock %}

{% block content %}
<h1>Secret Page for Aryan</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p id="flashed-message">{{ message|safe }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

<form action="{{ url_for('deleteEnteredUser') }}" method="POST">
  <input type="text" name="username" placeholder="Username">
  <button type="submit">Delete Given User</button>
</form>

{% for user in users %}
  <li>UID: {{ user.uid }}, USERNAME: {{ user.username }}, PASSWORD: {{ user.password }}</li>
  <form action="{{ url_for('deleteUser', uid=user.uid) }}" method="POST">
    <button type="submit">Delete User</button>
  </form>
{% endfor %}

<form action="{{ url_for('homePage') }}" method="GET">
  <button type="submit">Return to Home</button>
</form>
<form action="{{ url_for('logout') }}" method="GET">
  <button type="submit">Logout</button>
</form>

<script>
  setTimeout(() => {
    const flash = document.getElementById('flashed-message');
    if (flash) {
      flash.style.display = 'none';
    }
  }, 3000);
</script>
{% endblock %}
