{% extends "base.html" %}

{% block title %}EDIT TASK{% endblock %}

{% block content %}
<h1>Edit Your Task</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p id="flashed-message">{{ message|safe }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

<form action="{{ url_for('editTask', tid=oldTask.tid) }}" method="POST">
  <input type="text" name="task" value="{{ oldTask.task }}" required>
  <input type="number" name="priority" value="{{ oldTask.priority }}" placeholder="Priority (optional)">
  <textarea rows="4" cols="50" name="description" placeholder="Description (optional)">{{ oldTask.description }}</textarea>
  <button type="submit">Save and Return</button>
</form>

<form action="{{ url_for('displayTasks', username=current_user.username) }}" method="GET">
  <button type="submit">Return to Task List</button>
</form>
{% endblock %}
