{% extends "base.html" %}

{% block title %}EDIT TASK{% endblock %}

{% block content %}

    <h1 style="text-decoration: underline;">EDIT YOUR TASK</h1>

    <p>
        MESSAGE FROM SERVER :

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <br>{{message|safe}}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </p>

    <form action="{{url_for('editTask', tid = oldTask.tid)}}" method="POST">
        <input type="text" name="task" value="{{oldTask.task}}" placehold="Task" required><br>
        <input type="number" name="priority" value="{{ oldTask.priority }}" placeholder="Priority (optional)"><br>
        <textarea rows="4" cols="50" name="description" placeholder="Description (optional)">{{ oldTask.description }}</textarea><br>
        <button type="submit">SAVE AND RETURN</button>
    </form>

    <br>

    <form action="{{url_for('displayTasks', username=current_user.username)}}" method="GET">
        <button type="submit">RETURN TO TASK LIST</button>
    </form>

{% endblock %}