{% extends "base.html" %}

{% block title %}INDEX{% endblock %}

{% block content %}
    <h1>SECRET PAGE FOR ARYAN</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        
                {% for message in messages %}
                    <strong id="flashed-message">
                        <br>
                        {{message|safe}}

                    </strong>
                {% endfor %}
    
        {% endif %}
    {% endwith %}

    <br>
    <br>

    <form action="{{url_for('deleteEnteredUser')}}" method="POST">
        <input type="text" name="username" placeholder="Username">
        <button type="submit">DELETE GIVEN USER</button>
    </form>

    <br>

    {% for user in users %}
        <li>UID : {{user.uid}}, 
            USERNAME : {{user.username}}, 
            PASSWORD : {{user.password}}</li>



        <form action="{{url_for('deleteUser', uid = user.uid )}}" method="POST">
            <button type="submit">DELETE USER</button>
        </form>

        <br>
    {% endfor %}

    <br>

    <form action="{{url_for('homePage')}}" method="GET">
        <button type="submit">RETURN TO HOME PAGE</button>
    </form>
    <form action="{{url_for('logout')}}" method="GET">
        <button type="submit">LOGOUT</button>
    </form>

    <script>
        setTimeout(() => {
            const flash = document.getElementById('flashed-message');
            if (flash) {
            flash.style.display = 'none';
            }
        }, 3000);
    </script>
{% endblock %}